@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-regular.woff2") format("woff2"),
    url("/fonts/dm-sans-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-500.woff2") format("woff2"),
    url("/fonts/dm-sans-500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-700.woff2") format("woff2"),
    url("/fonts/dm-sans-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@layer components {
  .bg-primary {
    @apply bg-[#fefefe] dark:bg-[#191920];
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .text-primary {
    @apply text-zinc-800 dark:text-zinc-100;
  }

  .text-secondary {
    @apply text-zinc-600 dark:text-zinc-400;
  }
}
