@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind is configured to prefer this font */
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/inter-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/inter-v8-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/inter-v8-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/inter-v8-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/inter-v8-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/inter-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/inter-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dm-sans-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/dm-sans-v10-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/dm-sans-v10-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dm-sans-v10-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/dm-sans-v10-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/dm-sans-v10-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/dm-sans-v10-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/dm-sans-v10-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/dm-sans-v10-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dm-sans-v10-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/dm-sans-v10-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dm-sans-v10-latin-500.svg#DMSans")
      format("svg"); /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/dm-sans-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/dm-sans-v10-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/dm-sans-v10-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/dm-sans-v10-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/dm-sans-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/dm-sans-v10-latin-700.svg#DMSans")
      format("svg"); /* Legacy iOS */
}

@layer components {
  .bg-primary {
    /* // @apply bg-white dark:bg-[#1d1e25fd]; */
    @apply bg-white dark:bg-[#212129f0];
  }

  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
